---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Ahmad Enaya | Projects">
  <div class="mb-16">
    <div class="flex-col text-center md:px-10">
      <div class="p-12">
        <h2 class="text-4xl md:text-5xl">
          My <span class="text-teal-500">pr</span><span
            class="border-b-4 text-teal-500 border-gray-300">ojec</span
          ><span class="text-teal-500">ts</span>
        </h2>
      </div>

      <!--list of projects -->
    </div>
  </div>
</MainLayout>
