---
import { Separator } from "../ui/separator";

const { job } = Astro.props

interface Props {
  job: {
    title: string
    company: string
    period: string
    desc: string[]
  }
}
---

<div class="space-y-1">
  <p class="text-sm md:text-lg font-medium leading-none">
    {job.title}
  </p>
  <p class="text-sm md:text-lg text-muted-foreground">{job.company}</p>
</div>
<Separator className="my-4" />
<div class="flex items-center space-x-2 lg:space-x-4 text-sm">
  <div>{job.period}</div>
  <Separator orientation="vertical" />
  <div>
    {job.desc.map(d => <p>{d}</p>)}
  </div>
</div>