---
import Svg from "./Svg.astro";

---

<div>
  <div class="flex justify-center">
    <h2 class="text-4xl md:text-5xl mt-12">
      Get in <span class="text-teal-500">touch</span>.
    </h2>
  </div>

  <div class="flex-col mt-10">
    <div class="flex p-3 text-lg md:text-2xl justify-center">
      <!--mail icon -->
      <a href="mailto: ahmadenaya29@gmail.com">
        <h2 class="hover:text-teal-500">ahmadenaya29@gmail.com</h2>
      </a>
    </div>

    <div class="flex p-3 text-lg md:text-2xl justify-center">
      <!--linkedin icon -->
      <a href="https://www.linkedin.com/in/ahmad-enayathullah-14aa7b152/">
        <h2 class="hover:text-teal-500">Ahmad Enayathullah</h2>
      </a>
    </div>

    <Svg />
  </div>
</div>
